<!DOCTYPE html>
<html lang="en">
  <head>
    <title>National Immunization Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
	  <div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="index.html">Vaccination Console</a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>gutkuisutkrisht@gmail.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us: +918544985144</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0 d-block">
					    		<a href="#" class="btn py-2 px-3 btn-primary">
					    			<span>Free Counselling</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
          </div>
        </form>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	        	<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
				<% if(!currentUser){ %>
	            <li class="nav-item"><a href="/register" class="nav-link">Sign Up</a></li>
	            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
				<li class="nav-item"><a href="/admin" class="nav-link">Login As Admin</a></li>
				<% }else{ %>
					<li class="nav-item"><a href="/aefi" class="nav-link">AEFI</a></li>
					<li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
 				<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>	
				<% } %>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    <!-- END nav -->
   <h1 style="padding-left: 280px">
      Adverse events following immunization
   </h1>
<div class="container">
   <table class="table table-stripped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cause-specific type of AEFI</th>
          <th scope="col">Definition</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Vaccine product-related reaction</td>
          <td>An AEFI that is caused or precipitated by a
              vaccine due to one or more of the inherent
              properties of the vaccine product</td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Vaccine quality defect-related reaction
              (Both 1 & 2 were earlier categorised in
              
              Vaccine Reaction)</td>
          <td>An AEFI that is caused or precipitated by a vaccine
              that is due to one or more quality defects of the
              vaccine product, including its administration
              device as provided by the manufacturer</td>
          
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Immunization error-related reaction
              (formerly “programme error”)</td>
          <td>An AEFI that is caused by inappropriate vaccine
              handling, prescribing or administration and
              thus by its nature is preventable</td>
          
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Immunization anxiety-related reaction
                (formerly “injection reaction”)</td>
            <td>An AEFI arising from anxiety about the immunization</td>
            
          </tr>
          <tr>
              <th scope="row">5</th>
              <td>Coincidental event</td>
              <td>An AEFI that is caused by something other than
                  the vaccine product, immunization error or
                  
                  immunization anxiety</td>
              
            </tr>
      </tbody>
    </table>

</div>
<hr>

<h1 style="padding-left: 280px">Distinguish anaphylaxis from fainting (vasovagal reaction)</h1>
<div class="container">
    <table class="table table-bordered table-dark">
       <thead>
         <tr>
           <th scope="col"></th>
           <th scope="col">Fainting</th>
           <th scope="col">Anaphylaxis</th>
           
         </tr>
       </thead>
       <tbody>
         <tr>
           <th scope="row">Onset</th>
           <td>Usually at the time or soon after the

              injection</td>
           <td>Usually some delay, be-
              tween 5 to 30 mins, after
              
              injection</td>
           
         </tr>
         <tr>
            <!-- <th scope="row" scope="col-2">systemic</th> -->
            <td>systemic</td>
            
          </tr>
         
         <tr>
           <th scope="row">skin</th>
           <td>Pale, sweaty, cold and clammy</td>
           <td>Red, raised and itchy rash;

              swollen eyes, face, general-
              ized rash</td>
           
         </tr>
         <tr>
           <th scope="row">Respiratory</th>
           <td>Normal to deep breaths</td>
           <td>Noisy breathing from air-
              ways obstruction (wheeze
              
              or stridor)</td>
           
         </tr>
         <tr>
             <th scope="row">Cardiovascular</th>
             <td>Bradycardia, transient hypotension</td>
             <td>Tachycardia, hypotension</td>
             
           </tr>
           <tr>
               <th scope="row">Gastrointestinal</th>
               <td>Nausea, vomiting</td>
               <td>Abdominal cramps</td>
               
             </tr>
             <tr>
                <th scope="row">Neurological</th>
                <td>Transient loss of consciousness, relieved

                    by supine posture</td>
                <td>Loss of consciousness, not
                    relieved by supine posture</td>
                
              </tr>
       </tbody>
     </table>

     


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>