<!DOCTYPE html>
<html lang="en">
  <head>
    <title>National Immunization Schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/demo.css">
	<link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  </head>
  <body>
	  <div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="index.html">Vaccination Console</a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>youremail@email.com</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us: + 1235 2355 98</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0">
					    		<a href="#" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
					    			<span>Free Consulting</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
          </div>
        </form>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	        	<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
				<% if(!currentUser){ %>
	            <li class="nav-item"><a href="/register" class="nav-link">Sign Up</a></li>
	            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
			
				<% }else{ %>
					<li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
 				<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>	
				<% } %>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <h1 style="padding-left: 380px">National Immunization Schedule</h1>

    <container>
        <div class="container" style="padding-top: 5px; padding-left: 230px">
            <table class="table table-bordered border " style="height:933px; width:689px; padding-top: 10px;" ><tbody><tr>
            </tr><tr><td dir="LTR" style="height:25px; width:147px"><strong><span style="color:#117a8b">Vaccine </span></strong></td>
            <td dir="LTR" style="width:201px"><strong><span style="color:#117a8b">When to give </span></strong></td>
            <td dir="LTR" style="width:108px"><strong><span style="color:#117a8b">Dose </span></strong></td>
            <td dir="LTR" style="width:95px"><strong><span style="color:#117a8b">Route</span></strong></td>
            <td dir="LTR" style="width:139px"><strong><span style="color:#117a8b">Site</span></strong></td>
            </tr><tr><td class="rtecenter" colspan="5" dir="LTR" style="height: 25px; width: 456px;">For Infants </td>
            </tr><tr><td dir="LTR" style="height:63px; width:147px" data-toggle="tooltip" data-placement="top" title=" Bacillus Calmette–Guérin (BCG) vaccine is a vaccine primarily used against tuberculosis (TB). In countries where tuberculosis or leprosy is common, one dose is recommended in healthy babies as close to the time of birth as possible.
            Target disease: Tuberculosis
            Type: Live bacteria
             "> <span style="color:#117a8b">BCG </span></td>
            <td dir="LTR" style="width:201px">At birth or as early as possible till one year of age </td>
            <td dir="LTR" style="width:108px">0.1ml  (0.05ml until 1 month of age) </td>
            <td style="width:95px">Intra -dermal</td>
            <td style="width:139px">Left Upper Arm</td>
            </tr><tr><td dir="LTR" style="height:42px; width:147px"><span style="color:#117a8b" data-toggle="tooltip" data-placement="top" title="The hepatitis B vaccine is an injection (or shot) that is generally given in the arm and as a three-dose series on a 0, 1, and 6-month schedule. The recommended doses depend on the vaccine brand and the person's age. 1st Shot - At any given time, but newborns should receive this dose in the delivery room.
                ">Hepatitis B Birth dose </span></td>
            <td dir="LTR" style="width:201px">At birth or as early as possible within 24 hours </td>
            <td dir="LTR" style="width:108px">0.5 ml </td>
            <td style="width:95px">Intramuscular</td>
            <td style="width:139px">Anterolateral side of mid thigh-LEFT</td>
            </tr><tr><td dir="LTR" style="height:63px; width:147px"><span style="color:#117a8b"data-toggle="tooltip" data-placement="top" title="Oral polio vaccine (OPV)
                OPV consists of a mixture of live attenuated poliovirus strains of each of the three serotypes, selected by their ability to mimic the immune response following infection with wild polioviruses, but with a significantly reduced incidence of spreading to the central nervous system. Three or more spaced doses of OPV are required to generate adequate levels of seroconversion.">OPV Birth dose </span></td>
            <td dir="LTR" style="width:201px">At birth or as early as possible within the first 15 days </td>
            <td dir="LTR" style="width:108px">2 drops </td>
            <td style="width:95px">Oral</td>
            <td style="width:139px">-</td>
            </tr><tr><td dir="LTR" style="height:57px; width:147px"><span style="color:#117a8b" data-toggle="tooltip" data-placement="top" title="">OPV 1,2 &amp; 3 </span></td>
            <td dir="LTR" style="width:201px"> At 6 weeks, 10 weeks &amp; 14 weeks </td>
            <td dir="LTR" style="width:108px">2 drops </td>
            <td style="width:95px">Oral</td>
            <td style="width:139px">-</td>
            </tr><tr><td dir="LTR" style="height:57px; width:147px" ><span style="color:#117a8b"data-toggle="tooltip" data-placement="top" title="Countries will introduce at least one dose of IPV to their routine immunization schedules
                before the switch from tOPV to bOPV. IPV will protect against the type 2 poliovirus after the
                type 2 component of OPV is removed. It will also boost immunity to types 1 and 3.
                ">IPV (inactivated Polio Vaccine)</span></td>
            <td dir="LTR" style="width:201px"> 14 weeks </td>
            <td dir="LTR" style="width:108px">0.5 ml </td>
            <td style="width:95px">Intramuscular</td>
            <td style="width:139px">Anterolateral side of mid thigh-RIGHT</td>
            </tr><tr><td dir="LTR" style="height:57px; width:147px"><span style="color:#117a8b"data-toggle="tooltip" data-placement="top" title="A pentavalent vaccine, or 5-in-1 vaccine, is a combination vaccine with five individual vaccines conjugated into one, intended to actively protect people from multiple diseases.">Pentavelant  1,2 &amp; 3 </span></td>
            <td dir="LTR" style="width:201px"> At 6 weeks, 10 weeks &amp; 14 weeks </td>
            <td dir="LTR" style="width:108px">0.5 ml </td>
            <td style="width:95px">Intramuscular</td>
            <td style="width:139px">Anterolateral side of mid thigh-LEFT</td>
            </tr><tr><td dir="LTR" style="height:48px; width:147px" data-toggle="tooltip" data-placement="top" title="Rotavirus vaccine is a vaccine used to protect against rotavirus infections, which are the leading cause of severe diarrhea among young children. The vaccines prevent 15–34% of severe diarrhea in the developing world and 37–96% of severe diarrhea in the developed world."><span style="color:#117a8b">Rota Virus Vaccine</span></td>
            <td dir="LTR" style="width:201px"> At 6 weeks, 10 weeks &amp; 14 weeks </td>
            <td dir="LTR" style="width:108px">5 drops </td>
            <td style="width:95px">Oral</td>
            <td style="width:139px">-</td>
            </tr><tr><td dir="LTR" style="height:91px; width:147px" data-toggle="tooltip" data-placement="top" title="The MMR vaccine is a vaccine against measles, mumps, and rubella. The first dose is generally given to children around 9 to 15 months of age, with a second dose at 15 months to 6 years of age, with at least 4 weeks between the doses."><span style="color:#117a8b">Measles 1<sup>st</sup> Dose </span></td>
            <td dir="LTR" style="width:201px">9 completed months-12 months. (give up to 5 years if not received at 9-12 months age) </td>
            <td dir="LTR" style="width:108px">0.5 ml </td>
            <td style="width:95px">Subcutaneous</td>
            <td style="width:139px">Right Upper Arm</td>
            </tr><tr><td dir="LTR" style="height:42px; width:147px" data-toggle="tooltip" data-placement="top" title="Hepatitis A vaccine is a vaccine that prevents hepatitis A. It is effective in around 95% of cases and lasts for at least fifteen years and possibly a person's entire life. If given, two doses are recommended beginning after the age of one. It is given by injection into a muscle."><span style="color:#117a8b">Vitamin A, 1<sup>st</sup> Dose </span></td>
            <td dir="LTR" style="width:201px">At 9 months with measles </td>
            <td dir="LTR" style="width:108px">1 ml  (1 lakh IU) </td>
            <td style="width:95px">Oral</td>
            <td style="width:139px">-</td>
            </tr><tr><td class="rtecenter" colspan="5" dir="LTR" style="height: 31px; width: 456px;"><strong><span style="color:#117a8b">For children</span></strong></td>
            </tr><tr><td dir="LTR" style="height:55px; width:147px" data-toggle="tooltip" data-placement="top" title="pt vaccine protects children and adults against diphtheria (D), pertussis (P, also known as whooping cough) and tetanus (T). dpt vaccine is given as a number of injections to infants and young children. Children should get three injections in the first year and a fourth injection when they are 18 months old."><span style="color:#117a8b">DPT 1<sup>st </sup> booster </span></td>
            <td dir="LTR" style="width:201px">16-24 months </td>
            <td dir="LTR" style="width:108px">0.5 ml </td>
            <td style="width:95px">Intramuscular</td>
            <td style="width:139px">Anterolateral side of mid thigh-LEFT</td>
            </tr><tr><td dir="LTR" style="height:32px; width:147px" data-toggle="tooltip" data-placement="top" title="Inactivated polio vaccine (IPV) is the only polio vaccine that has been given in the United States since 2000. IPV is given by shot in the leg or arm, depending on the patient's age. Oral polio vaccine (OPV) is used in other countries. CDC recommends that children get four doses of polio vaccine."><span style="color:#117a8b">OPV Booster </span></td>
            <td dir="LTR" style="width:201px">16-24 months </td>
            <td dir="LTR" style="width:108px">2 drops </td>
            <td style="width:95px">Oral</td>
            <td style="width:139px"> </td>
            </tr><tr><td dir="LTR" style="height:32px; width:147px" data-toggle="tooltip" data-placement="top" title="MMR vaccine is very effective at protecting people against measles, mumps, and rubella, and preventing the complications caused by these diseases. People who received two doses of MMR vaccine as children according to the U.S. vaccination schedule are usually considered protected for life and don't need a booster dose."><span style="color:#117a8b">Measles 2<sup>nd</sup>  dose </span></td>
            <td dir="LTR" style="width:201px">16-24 Months </td>
            <td dir="LTR" style="width:108px">0.5 ml </td>
            <td style="width:95px">Subcutaneous</td>
            <td style="width:139px">Right Upper Arm</td>
            </tr><tr><td dir="LTR" style="height:82px; width:147px" data-toggle="tooltip" data-placement="top" title="Vitamin A is essential for the functioning of the immune system. Giving vitamin A supplements to children who need them increases their resistance to disease, and improves their chances for survival, growth and development. Vitamin A deficiency (VAD) is a global problem."><span style="color:#117a8b">Vitamin A  (2<sup>nd</sup> to 9<sup>th</sup> dose) </span></td>
            <td dir="LTR" style="width:201px">16 months with DPT/OPV booster, then, one dose every 6 month up to the age of 5 years) </td>
            <td dir="LTR" style="width:108px">2 ml  (2 lakh IU) </td>
            <td style="width:95px">Oral</td>
            <td style="width:139px">-</td>
            </tr><tr><td dir="LTR" style="height:32px; width:147px" data-toggle="tooltip" data-placement="top" title="DPT (also DTP and DTwP) is a class of combination vaccines against three infectious diseases in humans: diphtheria, pertussis (whooping cough), and tetanus. The vaccine components include diphtheria and tetanus toxoids and killed whole cells of the bacterium that causes pertussis (wP)."><span style="color:#117a8b">DPT 2<sup>nd</sup> Booster </span></td>
            <td dir="LTR" style="width:201px">5-6 years </td>
            <td dir="LTR" style="width:108px">0.5 ml. </td>
            <td style="width:95px">Intramuscular</td>
            <td style="width:139px">Left Upper Arm</td>
            </tr><tr><td dir="LTR" style="height:32px; width:147px" data-toggle="tooltip" data-placement="top" title="Tetanus vaccine, also known as tetanus toxoid (TT), is an inactive vaccine used to prevent tetanus. During childhood five doses are recommended, with a sixth given during adolescence. Additional doses every 10 years are recommended."><span style="color:#117a8b">TT </span></td>
            <td dir="LTR" style="width:201px">10 years &amp; 16 years </td>
            <td dir="LTR" style="width:108px">0.5 ml </td>
            <td style="width:95px">Intramuscular</td>
            <td style="width:139px">Upper Arm</td>
            </tr></tbody></table>
        </div>
    </container>
    <hr>

<h1 style="padding-left: 380px">Find nearest vaccination centre.</h1>

    <!--maps-->
    <section class="ftco-section ftco-no-pb ftco-no-pt">
    	<div class="container-fluid px-0">
    		<div class="row justify-content-center">
        	<div class="col-md-12">
        		<div  class="bg-white"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ui6hGe64VHTuz31bTSRojfzUVUOX6G_C" width="1348" height="480"  ></iframe></div>
        	</div>
        </div>
    	</div>
    </section>
    <!--  -->
		
    <footer class="footer-distributed">

		<div class="footer-left">

			<h3>Vaccination<span>Drive</span></h3>

			<p class="footer-company-name">Vaccination Drive 2019</p>
		</div>

		<div class="footer-center">

			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>Thapar Institute of Engineering and Technology</span> Patiala, Punjab</p>
			</div>

			<div>
				<i class="fa fa-phone"></i>
				<p>+918544985144</p>
			</div>

			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:support@company.com">support@company.com</a></p>
			</div>

		</div>

		<div class="footer-right">

			<p class="footer-company-about">
				<span>About the mission</span>
				To aware people about proper vaccination</p>

			<div class="footer-icons">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

		</div>

	</footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>